// @use'../varibles' as*;



//tooltip
html[dir="rtl"]{
    .bs-tooltip-end .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow {
        right: calc(-1 * var(--bs-tooltip-arrow-height));
        left: unset;
    }
    .bs-tooltip-end .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
        left: -1px;
        right: unset;
        transform: scale(-1);
    }

    .bs-tooltip-start .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow {
        left: calc(-1 * var(--bs-tooltip-arrow-height));
        right: unset;
    }
    .bs-tooltip-start .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
        right: -1px;
        left: unset;
        transform: scale(-1);
    }
}